@{
    ViewData["Title"] = "Home Page";
}
@section scripts{
<script>
    
</script>
}
<div class="text-center">
    <h1 class="display-4">Bem vindo ao Contacts</h1>
    <p>Para adicionar um contato clique em "Adicionar".</p>
    <button class="btn btn-primary" data-toggle="modal" data-target="#AddContactModal">Adicionar</button>
</div>
<hr />
<div>
    <h2>Contatos</h2>
</div>
<hr />
@Html.Partial("AddContact")